modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
OPENAI_API_KEY = "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"
AZURE_OPENAI_API_KEY = "3G0YWRk2R2VkmZ5HrkafgfFcFbn7tmVs4jlezsJX0cXivuast0diJQQJ99BHACHYHv6XJ3w3AAAAACOGfX1h"
VITE_API_BASE_URL = "https://eh-poc-application.healthtrixss.com"
