modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
OPENAI_API_KEY = "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"
